.about-us {
    padding: 20px;
}

.about-us section {
    margin-bottom: 2rem;
}

@media (max-width: 480px) {
    /* Styles for very small devices like mobile phones */
  
    /* Adjust font sizes if needed */
    h1, h2, h3, p {
      font-size: smaller;
    }
}