.Header {
    background-color: #8B4513;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo {
    margin-right: auto;
}

.nav-link {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}