.product {
    width: 200px;
    height: 100%;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
}

.product-image {
    width: 100%;
}

.add-to-cart {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product {
      width: 100%; /* Full width on smaller screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .product {
      width: calc(50% - 20px); /* Two cards per row with a gap on medium screens */
    }
}

@media (max-width: 480px) {
    /* Styles for very small devices like mobile phones */
  
    /* Adjust font sizes if needed */
    h1, h2, h3, p {
      font-size: smaller;
    }
}